.sidebar_buttons{
    margin-top:6%;
    left: 5%;
    position: absolute;
    height: 15%;
    width: 8%;
    border-radius: 50%;
    background-color: transparent;
    border:solid white;
    display:inline;
    

}
#getProgress{
    top:35%;
    color:white;
}

#createGroup{
    top:65%;
    color:white;
}

#allGroup{
    top:5%;
    color:white;
}
