#container{
    position: absolute;
    height: 60%;
    background: black;
    width:60%;
    left: 30%;
}
#next{
    position: absolute;
    left: 85%;
    top:75%;
}

#previous{
    position: absolute;
    left: 30%;
    top:75%;
}

#show{
    position: absolute;
    left:55%;
    top:75%;
}