<app-nav></app-nav>


<app-profile-sidebar></app-profile-sidebar>
<app-sidebar-buttons></app-sidebar-buttons>
<app-profile></app-profile>

<div>
<app-my-groups></app-my-groups>
</div>

<div>
<app-all-groups></app-all-groups>
</div>

<!--
    <div *ngIf="selectedHero">
<h2>My Groups</h2>
<ul class="group">
  <li *ngFor="let group of groups"
    [class.selected]="group === selectedGroup"
    (click)="onSelect(group)">
    <span class="badge">{{group.id}}</span> {{group.name}}
  </li
</ul>
</div>
-->