<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand">SiteName</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" (click)="travelHome()">Home</a>
        <a class="nav-item nav-link active" (click)="travelMyGroups()">My Groups</a>
        <!--a class="nav-item nav-link active" (click) ="travelAddFlashcard()">Add Flashcard</a>
        <a class="nav-item nav-link active" (click) ="travelFlashcard()">View Flashcard</a-->
        <a class="nav-item nav-link active" style ="position:absolute;left:90%;"(click)="auth.signOut()">Logout</a>

      </div>
    </div>
  </nav>
