<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand">SiteName</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/homepage">Home</a>
        <a class="nav-item nav-link active" routerLink="/homepage">My Groups</a>
        <a class="nav-item nav-link active" routerLink="/homepage">Settings</a>
        <a class="nav-item nav-link active" routerLink="/homepage" style ="position:absolute;left:90%;">Logout</a>

      </div>
    </div>
  </nav>
